/* Global variables */

// Body 

$body-bg: #fff;
$body-color: #111;

// Container

$container-width: 800px;
$container-lg-padding: 3rem 1rem;
$container-sm-padding: 2rem 1rem;

// Border

$light-border: #dbdbdb;

// Input field

$input-height: 100px;
$input-lg-padding: 1.5rem;
$input-sm-padding: 1rem;

// Backgrounds

$light-bg: #f7f7f7;
$youtube: rgb(255, 65, 65);
$google: #3a93fb;
$keyboard-bg: #3b3b3b; 

// Colors

$gray-color: #555;

// Font sizes

$font-small: 1rem;
$font-medium: 17px;
$font-large: 22px;

// Others

$radius: 6px;

// Buttons

$key-bg: #202020;